.slideContainer {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}

.photoBack {
  background-color: rgb(252, 252, 252);
  border: 2px solid #311b03;
  height: 350px;
  width: 230px;
  margin: auto;
  text-align: center;
}

.photo {
  border: 1px solid #dddddd;
  margin-top: 10px;
  width: 210px;
  height: 280px;
  /* flex-shrink: 0; */
  object-fit: cover;
  object-position: 50% 100%;
}
