.TalkBg {
  background-image: url("../public/images/BG24a_80.jpg");
  background-size: cover;
  background-position: 50% 50%;
  /* min-height: 100vh; */
  min-width: 420px;
}

.contentAreaParent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 38px);
}

.contentArea {
  border: solid 2px #ffffff;
  border-radius: 10px;
  position: relative;
  z-index: 100;
  max-width: 420px;
  min-height: 640px;
  max-height: 830px;
  width: 420px;
  height: calc(100vh - 38px);
  margin: auto;
  background: url("../public/images/content_back.png") no-repeat;
  overflow:hidden;
}

.sceneImage {
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  width: 100%;
}

.hukidasi {
  position: absolute;
  background: url("../public/images/hukidasi.png") no-repeat;
  width: 360px;
  height: 190px;
  top: 15px;
  left: 20px;
}

.hukidasiText {
  font-size: 18px;
  position: absolute;
  padding-top: 8%;
  padding-left: 12%;
  padding-right: 10%;
}

.branch {
  position: absolute;
  width:100%;
  top: 165px
}

.charaBack {
  position: absolute;
  z-index: 10;
  top: 174px;
  left: 7%;
}

.charaFront1 {
  position: absolute;
  z-index: 11;
  opacity: 0;
  top: 0px;
}

.charaFront2 {
  position: absolute;
  z-index: 11;
  opacity: 1;
  top: 0px;
}

.charaSize {
  width:100%;
}

.charaSizeClr {
  position: absolute;
  width:100%;
  opacity: 0;
  top: 0;
  left: 0;
}

.selectAnswer {
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 20;
}

.btnFflatSimple {
  position: relative;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #ececec;
  background: #259e4f;
  transition: 0.2s;
  margin-top: 5px;
  padding: 0.8em 1em;
  border-radius: 5px;
  font-size: 1.3rem;
  border: 3px solid #ffffff;
}

.btnFflatSimple:hover {
  background: #3fb669;
  color: white;
  cursor: pointer;
}

.inputWord {
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: 100%;
}

.inputWordText {
  font-size: 16px;
  width: calc(100% - 129px);
  padding: 0.5em;
  border: 3px solid #259e4f;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.btnInputOk {
  position: relative;
  font-weight: bold;
  text-decoration: none;
  color: #ececec;
  background: #259e4f;
  transition: 0.2s;
  margin-right: 5px;
  padding: 1.0em 0em;
  border-radius: 5px;
  width: 50px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.btnInputOk:hover {
  background: #3fb669;
  color: white;
  cursor: pointer;
}