.drawArea {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 65px 50px 100px 50px;
  font-weight: bold;
  text-shadow: 2px 2px 5px #ffffff;
}

.drawArea h1 {
  font-size: 1.5em;
  margin-block-start: 0.67em;
  margin-block-end: 0em;
}
/* .drawArea p {
  font-size: 1.0em;
  margin-block-start: 0.67em;
  margin-block-end: 0em;
} */
.drawArea a {
  color: blue;
  text-decoration: none;
}
.drawArea a:hover {
  color: darkblue;
  text-decoration: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  width: 400px;
  height: 640px;
  background-image: url("../public/images/board.png");
  border: solid 0px;
  outline: none;
}

.modalOverlay {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.btnClose {
  position: absolute;
  z-index: 12;
  color: #ececec;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.2s;
  border-radius: 40px;
  font-size: 40px;
  padding: 3px 15px 10px;
  line-height: 40px;
  display: inline-block;
  right: 5px;
  top: 15px;
}

.btnClose:hover {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
}

.name {
  position: absolute;
  font-size: 32px;
  top: 55px;
  left: 65px;
  background: linear-gradient(transparent 60%, rgb(255, 127, 127) 80%);
}

.image {
  position: absolute;
  border-radius: 10px;
  border: 3px solid #000000;
  top: 155px;
  left: 40px;
  width: 100px;
  height: 100px;
}

.profile1 {
  position: absolute;
  top: 145px;
  left: 155px;
  font-size: 18px;
}

.intro {
  position: absolute;
  top: 255px;
  left: 55px;
  font-size: 18px;
}

.profile2 {
  position: absolute;
  top: 290px;
  left: 90px;
  font-size: 18px;
}

.neko {
  /* position: absolute; */
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #ffdabc;
  width: 64px;
  height: 64px;
  top: 20px;
  left: 90px;
  font-size: 18px;
}

.twitterIcon {
  /* position: absolute; */
  border: 2px solid #ffffff;
  border-radius: 10px;
  background-color: #91c4ff;
  width: 32px;
  height: 32px;
  top: 20px;
  left: 90px;
  font-size: 18px;
}