.clickArea {
  text-align: center;
  min-width: 400px;
}

.clickArea img {
  border: solid 2px #021f01;
  border-radius: 10px;
  margin-top: 10%;
  width: 400px;
  position: relative;
}

.clickArea div {
  bottom: 10%;
}
